.Login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.Login_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
 
}

.Login_header img {
    height: 110px;
}

.Login_header h1  {
    font-size: 1.8em;
    color: #333;
}

.Login_input {
    border: 2px solid #333;
    border-radius: 6px;
    color: #333;
    font-size: 1em;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    outline: none;
    padding: 10px;

}

.Login_button {
    font-size: 1.5em;
    padding: 10px;
    background-color: #ee665c;
    color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: ease 100ms;
}

.Login_button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
    transition: ease 100ms;
}






